@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i|Roboto+Condensed:300,300i,400,400i,700,700i');


/*
Theme Name: UNIQUE  
Version: 1.0
Author: GoalDesigns
Author URI: https://themeforest.net/user/goaldesigns
If you having trouble in editing css. please send a mail to afradesignz@gmail.com
I will really help you
 
*/


header.inner .header-content {
  height: 70vh;
  padding: 18% 0 ;
}
header .header-content .header-content-inner{
		top: 60%;
	}
header.inner .header-content .header-content-inner h1{
	font-weight: 400;
	margin-bottom: 20px;
	margin-top: 20px;
}
header.inner .header-content .header-content-inner p {
   color: #ffdc8b;
   font-size: 17px;
}
header.inner .header-content .header-content-inner hr{
	background-color: #62c2d0;
	border: 0 none;
	height: 4px;
	max-width: 180px;
}
section.sec1 img {
    margin: 0 auto 30px;
}
header.inner .header-content .header-content-inner p {
    display: block;
}
.sec2{
	background: url(../img/persons.png) center right no-repeat;
}
section.sec2 img{
	margin: 0;
}
div.quote{
	padding: 5% 0;
}
div.quote p{
	color: #1b3439;
	font-size: 20px;
    font-style: italic;
    font-weight: 400;
	line-height: 30px;
	margin: 0 auto;
	max-width: 816px;
    text-align: center;
}

section img.noborder, section#clients img.noborder {
    border: none;
    margin: 15px auto;
    padding:0 ;
}
section img.noborder:hover, section#clients img.noborder:hover {
    border: none;
	box-shadow: none;
}
section .sblog{
	margin: auto;
	max-width: 1024px;
}
section .sblog h3{
	font-size: 30px;
    font-weight: 400;
	letter-spacing: 0;
    line-height: 36px;
}
section .sblog h4 {
	font-size: 20px;
    line-height: 33px;
    color: #555353;
    font-family: 'Lato',sans-serif;
    font-weight: 700;
	text-transform: none;
}
section .sblog-ftr{
	background-color: #f5f5f5;
	padding: 30px 0;
}
section.blog .sblog-ftr p.blog-btm, 
section.blog .sblog-ftr p.blog-btm a{
	margin-bottom: 0;
}
section.blog .sblog-ftr .btn-blog {
    float: right;
    margin: 0 5px;
}

section #cmt-sec {
	margin-top: 5%;
}
section #cmt-sec img{
	border: 0 none;
}
section #cmt-sec h4{
	font-family: 'Roboto Condensed', sans-serif;
 	font-size: 21px;
    line-height: 25px;
    color: #21232a;
}

section #cmt-sec h5{
	color: #1b3439;
    font-family: 'Lato',sans-serif;
    font-size: 15px;
    font-weight: 700;
	letter-spacing: 0;
	text-transform: none;
}
section #cmt-sec p.date{
	margin: 0;
}
section #cmt-sec p.reply{
	border-color: #62c2d0;
    border-style: solid;
    border-width: 1px;
    color: #1b3439;
	float: right;
    font-family: 'Lato',sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
	margin: 5px;
    padding: 0px 10px;
    text-align: center;
	text-transform: uppercase;
}
section #cmt-sec p.reply:hover{
	background-color: #62c2d0;
	color: #fff;
}
section .quote .btn-default{
	background-color: transparent;
	border: 1px solid #62c2d0;
	color: #62c2d0;
    font-family: 'Lato',sans-serif;
    font-size: 13px;
    font-style: italic;
    text-align: center;
	text-transform: none;
}
section .quote .btn-default:hover{
	background-color: #62c2d0;
	color: #FFF;
}

.contact h3{
	font-size: 25px;
	color: #1b3439;
    text-align: center
}
p.inner-sub{
	color: #8a8989;
	font-size: 18px;
    line-height: 25px;
    font-style: italic;
    font-weight: 400;
	margin: 0 auto;
	max-width: 816px;
    text-align: center;
}

/* ************** Media Queries ********************/


@media only screen
and (max-device-width : 480px) {
	.sec2{
		background: none;
		text-align: center;
	}
	div.quote {
		padding: 12% 0;
	}
	div.quote p{
    	font-size: 17px;
	}	
	section#clients img.img-responsive {
		margin: 30px auto;
	}
	section .sblog h3 {
		font-size: 20px;
		line-height: 24px;
		text-align: center;
	}
	section #cmt-sec h4 {
		text-align:center;
	}
}


@media screen and (min-width : 480px)
and (max-device-width : 767px){
	
	section.sec2 {
		padding-bottom: 30%;
		text-align: center;
	}
	div.quote {
		padding: 10% 0;
	}
	section#clients img.img-responsive {
		margin: 30px auto;
	}
	section .sblog h3 {
    	font-size: 24px;
	}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 991px) {
	section.sec2 {
		padding-bottom: 30%;
		text-align: center;
	}
	section h2 {
		text-align: center;
	}
}

@media (min-width: 1200px) {
	
}