@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i|Roboto+Condensed:300,300i,400,400i,700,700i');


/*
Theme Name: UNIQUE  
Version: 1.0
Author: GoalDesigns
Author URI: https://themeforest.net/user/goaldesigns
If you having trouble in editing css. please send a mail to afradesignz@gmail.com
I will really help you
 
*/


/*-----------------------  Table of Contents -----------------------*/
/*

1. >>GLOBAL STYLES
2. >>Navigation 
3. >>Header Section
4. ABOUT US           >>Section1 
5. SERVICES           >>Section2 
6. WORKS              >>Section3
7. CLIENTS            >>Section4
8. BLOG               >>Section5
9. CONTACT US         >>Section6
10.>> FOOTER


*/


/* ------------------------------------------------------------------
# [Color codes]

# sky blue (button): #62C2D0;
# light black (text): #666666;
# dark black (Headings): #1B3439;
# More colours:  #FFDC8B; #8A8989;

# */


/*------------------------------------------------------------------
[Typography]

Body copy:		  'Roboto Condensed', sans-serif;
Headers:		  'Roboto Condensed', sans-serif;
Input, textarea:  'Roboto Condensed', sans-serif;
Content:          'Lato', sans-serif;

-------------------------------------------------------------------*/


/* ---------------------------------- */


/*       GLOBAL STYLES       */


/* ---------------------------------- */

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #62C2D0;
}
a:hover{
  text-decoration: none
}
input, textarea{
    background-color:#666;
    color: #891717;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-transform: uppercase;
 }
p {
  color: #8a8989;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 20px;
}

.navbar-default {
  background-color: transparent;
  border-color: #426065;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  letter-spacing: 1px;
}
.nav3 .navbar-default {
  background-color: #FFF;
}
.navbar-brand {
  height: auto;
  padding: 25px 0;
}

.navbar-default.affix {
  background-color: rgba(27, 52, 57, 0.7);
  border-color: #426065;
}
.nav3 .navbar-default.affix {
  background-color: #FFF;
  border-color: rgba(0, 0, 0, 0.2);
}

.navbar-default.affix .nav > li > a,
.navbar-default.affix .nav > li > a:focus {
  color: #FFF;
}
.navbar-default .navbar-header .navbar-toggle {
  border-color: #ffdc8b;
  border-radius: 0;
  color: #FFDC8B;
  font-size: 12px;
  margin-bottom: 25px;
  padding: 8px 10px;
  top: 16px;
}
.navbar-default .navbar-header .navbar-toggle:focus, .navbar-default .navbar-header .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-right {
    padding-top: 16px;
}
.navbar-default .nav > li > a {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #FFF;
}
.nav3 .navbar-default .nav > li > a,
.nav3 .navbar-default .nav > li > a:focus {
  color: #666;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #62C2D0;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #62C2D0 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

/* ************** Tables  ********************/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
/*tr:nth-of-type(odd) { 
  background: #eee; 
}
tr:nth-of-type(even) { 
  background: #eeb; 
}*/
tr { 
  background: #eeb; 
}
th { 
  background: #62C2D0; 
  color: black; 
  font-weight: bold;
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
}
.tabla_normal {
  text-align: left;
}
.moneda, .tot_tabla {
  text-align: right;
  font-weight: bold;
}
/* ************** Buttons ********************/
.btn-sec{
	margin: 30px 0px;
}
.btn {
  border-color: transparent;
  border-radius: 0px; 
  font-size: 15px;
  font-weight: 700;
  padding: 8px 25px 7px 25px;
  text-transform: uppercase;
}
.btn-default {
    background-color: #62C2D0;
	border-color:transparent;
    color: #fff;
	margin-right: 10px;
}
.btn-default:hover, .btn-default:focus {
    background-color: #62C2D0;
	border-color:transparent;
    color: #fff;
}
.btn-default:active:hover, .btn-default:active:focus {
    background-color: #62C2D0;
	border-color: transparent;
    color: #fff;
}
.btn-custom {
    background-color: #FFDC8B;
	border-color: transparent;
    color: #1B3439;
}
.btn-custom:hover {
    background-color: #62C2D0;
	border-color: #62C2D0;
    color: #fff;
}
@-webkit-keyframes hvr-btn {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}

@keyframes hvr-btn {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}

.hvr-btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-btn:before {
  content: '';
  position: absolute;
  border: #62C2D0 solid 2px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-btn:hover:before, .hvr-btn:focus:before, .hvr-btn:active:before {
  -webkit-animation-name: hvr-btn;
  animation-name: hvr-btn;
}


/* ---------------------------------- */


/*       Header Section       */


/* ---------------------------------- */
header {
  background: url(../img/fondo-encabezado-general.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  min-height: auto;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}
.header-general {
  height: 45%;
}
.header-general .header-content .header-content-inner {
  transform: translateY(-95%);
}
header .header-content {
  height: 100vh;
  text-align: center;
  padding: 35% 0 ;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
 }
header .header-content .header-content-inner h1 {
  font-size: 50px;
  letter-spacing: 8px;
  margin-top: 0;
  margin-bottom: 30px;
}
header .header-content .header-content-inner h4 {
  color: #ffdc8b;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 5px;
}
header .header-content .header-content-inner p {
   color: #FFF;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 15px;
   line-height: 24px;
   margin: 0 auto;
   max-width: 716px;
}
header.header-inicio{
  background: url(../img/fondo-encabezado-inicio.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header.header-inicio .header-content .header-content-inner {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 50px;
}
header .header-general .header-content .header-content-inner {
  transform: translateY(-150%);
}


/* ---------------------------------- */


/*               section-1            */


/* ---------------------------------- */
section {
  padding: 100px 0;
}
section h2 {
  color: #1b3439;
  font-size: 50px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
section.abt {
  position: relative;
}
section.abt h2 {
  color: #1b3439;  
}
section p.sub-txt{
	color: #666666;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
    line-height: 30px;
	margin-bottom: 30px;
	padding-left: 20px;
}
section p.sub-txt span{
	color: #62c2d0;
}
section p.vline {
    border-left: 2px solid #62c2d0;
}
section .mtop{
	margin-top: 50px;
}


/* ---------------------------------- */


/*               section-2            */


/* ---------------------------------- */
section.services {
  background-color: #FFDC8B;
  position: relative;
}	
section.services p.sub-txt{ 
  color: #7b6c4a;
  padding: 0;
}
section.services img{
	margin: 20% auto;
}
#video {
    display: block;
    width: 100%;
    height: 320px;
    background: url(../img/video.jpg) no-repeat top center;
	cursor: pointer;
	position: relative;
}
#video img{
	background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    border-radius: 50%;
	height: 70px;
    left: 50%;
    margin: 0 -50% 0 0;
	padding: 15px;
    position: absolute;
    top: 50%;
	-webkit-box-shadow: 0 0 20px 3px rgba(51, 51, 51, 0.8);
	-moz-box-shadow: 0 0 20px 3px rgba(51, 51, 51, 0.8);
	box-shadow: 0 0 20px 3px rgba(51, 51, 51, 0.8);
    transform: translate(-50%, -50%);
	-webkit-transition: .2s ease-in;
	transition: .2s ease-in;
    width: 70px;
}
#video img:hover{
	height: 90px;
    width: 90px;
}
.panel-default {
    border: medium none;
}
.panel-default > .panel-heading{
	background-color: #62C2D0;
	border-color: transparent;	
	border-radius: 0;
  color: #FFF;
	padding: 15px;
}
.panel-default > .panel-heading > .input-check{
  float: left !important;
}
.panel-default > .panel-heading.collapsed:before{
	background-color: #1B3439;
}
.panel-title {
	font-size: 20px;
}
.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f056";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f055";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}

/* ************** counter ********************/

section.cta {  
  position: relative;
}
.counter-box{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(187,187,182,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(187,187,182,0.3);
	box-shadow: 0px 0px 5px 0px rgba(187,187,182,0.3);
	border: 1px #fff solid;
	padding: 35px 0;
	text-align: center;
	
}
.counter-box:hover{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(98,194,208,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(98,194,208,1);
	box-shadow: 0px 0px 5px 0px rgba(98,194,208,1);
}
.counter-box h5{
	color: #62c2d0;
    font-size: 18px;
	font-weight: 400;
	margin: 0;
    text-transform: uppercase;
}
.counter-box .count{
	color: #333333;
    font-size: 30px;
    font-weight: 700;
}


/* ---------------------------------- */


/*               section-3            */


/* ---------------------------------- */
section.works {
  background-color: #F7F7F7;
  position: relative;
}
section.works .video{
	margin: 30px 0;
}
section.works iframe{
	width: 100%;
	height: 315px;
}
section .flow h2{
	background-color: #FFF;
	color: #e0dfdf;
    font-size: 55px;
	float: right;
	padding: 15px;
    text-align: center;
	width: 94px;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(229,229,229,1);
	-moz-box-shadow: 4px 4px 0px 0px rgba(229,229,229,1);
	box-shadow: 4px 4px 0px 0px rgba(229,229,229,1);
}
section .flow h4{
	color: #1b3439;
    font-size: 22px;
	text-align: left;
}
section .flow h5{
	color: #62c2d0;
    font-size: 18px;
    font-weight: 400;
	letter-spacing: 0;
	text-align: left;
	text-transform: capitalize;
}
section .flow .col-sm-7{
	padding : 5px;
}
section .flow hr{
	background-color: #ffdc8b;
	border-color: transparent;
    height: 5px;
	margin-left: 0;
    margin-top: 8px;
    position: relative;
    width: 85px;
}
.btn-flow {
	background-color: transparent;
    border: #bdcacd solid 1px;
	color: #8a8989;
	font-size: 13px;
    font-weight: 400;
	padding: 10px 30px;
}
.btn-flow:hover {
    background-color: #62C2D0;
	border-color: #62C2D0;
    color: #fff;
}


/****Latest Works section ***/
#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
.tile:hover { 
	
}
.scale-anm {
  transform: scale(1);
}

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
  
}
.thumbnail {
    border-radius: 0;
}
.toolbar {
	margin: 1% 0;
}
.toolbar .btn {
	color: #999999;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: transparent;
}

.toolbar .btn:hover {
	color: #62C2D0;
 	text-decoration: none;
}

.toolbar .btn:focus {
  color: #62C2D0;
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

.portfolio .image{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.portfolio .image img{
  width: 100%;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
 -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: scale3d(0);
}
.portfolio .image img:hover {
  opacity: 0.6;
  -webkit-transform: scale3d(1.1,1.1,1);
   transform: scale3d(1.1,1.1,1);
}

/* ---------------------------------- */


/*               section-4            */


/* ---------------------------------- */

section.testimonials {
  background: url(../img/fondo-noticias.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}
section.testimonials h2{
	color: #ffdc8b;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 20px;
}
.box-test{
	background-color: #1B3439;
	padding: 5%;
	
}
.box-test p{
	color: #E5E5E5;
	font-size: 17px;
	font-style: italic;
}
.box-test p span{
	color: #FFDC8B;
	font-size: 25px;
	font-style: italic;
}
.box-test hr{
	background-color: rgba(88, 182, 196, 0.35);
	border-color: transparent;
	height: 1px;
	margin: 40px auto;
	width: 50%;
}
.box-test h5{
	color: #FFDC8B;
	font-size: 17px;
}
.item img{
	float: left;
	margin: 50px 0 15px;
}
.item p.cname{
	color:#FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
	margin: 0;
	text-align: left;
    text-transform: uppercase;
}
.item p.cadd{
	color:#FFF;
    font-size: 14px;
	text-align: left;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
#quote-carousel .carousel-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #1b3439;
    color: #1b3439;
    font-size: 18px;
    height: 38px;
    margin-left: 30px;
    margin-top: 200px;
    text-shadow: none;
    width: 38px;
}

#quote-carousel .lspace{
	margin-left: 80px;
}
#quote-carousel .carousel-control i{
	padding-top: 10px;
}
/* ---------------------------------- */


/*               section-5            */


/* ---------------------------------- */


section.blog img{
	border: #cccccc solid 5px;
	margin: auto;
}
section.blog h4{
	color: #1b3439;
	font-size: 22px;
    font-weight: 400;
	letter-spacing: 0;
	margin-bottom: 10px;
    margin-top: 20px;
}
section.blog p.date{
	color: #62c2d0;
    font-size: 13px;
}
section.blog p.date span{
    font-weight: 700;
    text-transform: uppercase;
}

section.blog p.blog-btm, section.blog p.blog-btm a{
	color: #666666;
    font-size: 13px;	
	margin-bottom: 50px;
}
section.blog p.blog-btm, section.blog p.blog-btm a:hover{
	color: #62c2d0;
}
section.blog p.blog-btm span{
	margin-right: 25px;
}
section.blog .btn-blog{
	background-color: transparent; 	
	border: #62c2d0 solid 2px;
    color: #62c2d0;
    font-size: 10px;
    font-weight: 400;
	padding: 5px 12px 5px 12px;
}
section.blog .btn-blog:hover{
	background-color: #62c2d0;
    color: #FFF;
}

/*Todas las secciones, loader*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
input[type='checkbox'] {
  width:20px;
  height:20px;
  border-radius:5px;
}


/* Clients Section */
.center-block {
    text-align: center;
}
section#clients img{
	background-color: #fafafa;
    border: #cccccc solid 1px;
	margin: 15px 0;
	padding: 30px 52px;
	cursor: pointer;
}
section#clients img:hover{
    border: #62c2d0 solid 1px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(98,194,208,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(98,194,208,1);
	box-shadow: 0px 0px 3px 0px rgba(98,194,208,1);
}



/* ---------------------------------- */


/*               section-6            */


/* ---------------------------------- */
section.contact .mtop{
	color: 8A8989;
	line-height: 24px;
	text-align: center;
}
section.contact .mtop i{
	color: #62c2d0;
	font-size: 35px;
	margin-bottom: 25px;
}
section.contact .mtop p{
	font-size: 16px;
}

.form-group {
    margin-bottom: 25px;
}



option[value=””][disabled] {
display: none;
}

.form-control{	
	border-radius: 0;
	color: #1b1b1b;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	height:49px;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(220,220,220,1);
	-moz-box-shadow: inset 0px 0px 2px 0px rgba(220,220,220,1);
	box-shadow: inset 0px 0px 2px 0px rgba(220,220,220,1);
}
.form-control:focus, .form-control:hover{
	border-color:#62C2D0;
	-webkit-box-shadow: inset 0px 0px 3px 0px rgba(98,194,208,1);
	-moz-box-shadow: inset 0px 0px 3px 0px rgba(98,194,208,1);
	box-shadow: inset 0px 0px 3px 0px rgba(98,194,208,1);
}

.form-control-feedback {
	line-height: 50px;
	top: 0px;
}
.contact .textarea{ 
	min-height:220px; 
	resize:none;
}
.contact .btn{
	font-size: 18px;
}

section.btm-sec{
	background-color: #ffd475;
	padding: 35px 0;
}
section.btm-sec h3{
	color: #1b3439;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 0;
	margin-top: 10px;
	text-transform: none;
}

/* ---------------------------------- */


/*               Footer               */


/* ---------------------------------- */



footer {
  background-color: #1B3439;
}
footer .footer-top{
  padding: 70px 0;
}

footer img{
	margin-bottom: 20px;
}
footer p {
  color: #BDCACD;
  font-size: 15px;
  margin: 0;
}
footer p span{
 	color: #62c2d0;
    font-family: 'Lato',sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
footer h3{
	color: #62c2d0;
    font-size: 20px;
    font-weight: 400;
}
footer ul {
  font-size: 15px;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}
footer ul li i {
	color: #62c2d0;
	cursor: pointer;
}
footer ul li i:hover {
	color: #FFDC8B;
}
footer ul li {
	padding: 5px 0;
}
footer ul li a {	
	color: #bdcacd;
    font-family: 'Lato',sans-serif;
    font-size: 15px;
	letter-spacing: 0;
	transition: all .2s ease-in;
}
footer ul li a:hover {	
	color: #FFDC8B;
	letter-spacing: 2px;
	text-decoration:none;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
	border: medium none;
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
footer .fbottom{
	background-color: #122225;
	padding: 25px 0;
}

footer .fbottom p, footer .fbottom i{
 	color: #537278;
  font-size: 14px;
  text-align: center;
}

footer .list-inline {
    text-align: right;
}



/* ************** Media Queries ********************/


@media only screen
and (max-device-width : 480px) {
	p{
		text-align:center
	}
	.navbar-brand {
		padding: 20px;
	}
	header .header-content .header-content-inner h4 {
    	font-size: 24px;
    	letter-spacing: 1px;
	}
	header .header-content .header-content-inner h1 {
    	font-size: 26px;
    	letter-spacing: 3px;
    	line-height: 31px;
	}
	header.header-2 .header-content .header-content-inner h1 {
		font-size: 26px;
	}	
	header.header-3 .header-content .header-content-inner {
		padding: 15px 0;
	}
	header .header-content .header-content-inner p {
    	display: none;
	}
	section{
    	padding: 50px 0;
	}
	section h2 {
		font-size: 32px;
		margin-bottom: 18px;
		text-align: center;
	}
	section p.sub-txt {
    	font-size: 17px;
	}
	section .mtop {
		margin-top: 15px;
		text-align: center;
	}
	section.services img {
		margin: 10% auto 0;
	}
	.counter-box {
		margin: 15px 0;
    	padding: 15px 0;
	}
	.counter-box .count {
    	font-size: 28px;
	}
	.counter-box h5 {
    	font-size: 16px;
	}
	#video {
		height: 220px;
		margin-bottom: 30px;
	}
	section.works iframe{
		width: 100%;
		height: 220px;
	}
	section .flow h5 {
    	font-size: 17px;
	}	
	section .flow{
		margin: 25px 0;
	}
	.toolbar .btn {
    	font-size: 14px;
	}
	.modal .modal-content {
		width: 300px;
	}
  .modal-dialog{
    margin: 0 auto;
  }
	#quote-carousel {
    	margin-top: 10px;
	}
	.item img {
		float: none;
		margin: 0 0 15px;
	}
	.item p.cname, .item p.cadd{
		text-align: center
	}
	.box-test {
    	margin-top: 30px;
	}
	.box-test p {
		font-size: 15px;
	}
	.box-test hr {
    	margin: 30px auto;
	}
	section.blog h4 {
    	font-size: 18px;
		margin-top: 20px;
	}
	section.blog .btn-blog{
		margin-top: 25px;
	}
	section.blog p.blog-btm, section.blog p.blog-btm a{
		margin-bottom: 30px;
	}
	
	
	section.btm-sec{
		text-align: center;
	}
	section.btm-sec h3 {
    	font-size: 18px;
    	line-height: 30px;
	}
	footer .footer-top {
		padding: 50px 0;
	}
	footer img {
		margin: 0 auto 20px;
	}
	footer .row .col-xs-12{
		margin: 15px auto;
	}
	footer ul.rgt{
		float: right;
	}
	footer ul li{
		text-align: left;
	}
	footer h3, footer .list-inline {
		text-align: center;
	}
	footer .fbottom .col-xs-12{
		margin: 5px auto;
	}
}

@media screen and (min-width : 480px)
and (max-device-width : 767px){
	.navbar-brand {
		padding: 25px;
	}
	header .header-content {
    	height: 80vh;
	}
	header .header-content .header-content-inner h4 {
    	font-size: 28px;
	}
	header .header-content .header-content-inner h1 {
    	font-size: 42px;
	}
	header.header-2 .header-content .header-content-inner h1 {
    	font-size: 42px;
	}
	header.header-3 .header-content .header-content-inner {
		padding: 30px 15px;
	}
	section{
    	padding: 70px 0;
	}
	section h2 {
		font-size: 42px;
		text-align: center;
	}
	section .mtop {
		margin-top: 30px;
		text-align: center;
	}
	section .mtop p{
	    margin: 0px auto 20px;
    	max-width: 640px;
	}
	#video {
		margin-bottom: 30px;
	}
	section.services img {
		margin: 8% auto 0;
	}
	.counter-box {
		margin: 15px 0;
	}
	section .flow{
		margin: 25px 0;
	}
	section .flow p{
	    margin: 0px auto 20px;
    	max-width: 640px;
	}
	
	section#clients img {
    	margin: 15px auto;
	}
	.item img {
		float: none;
		margin: 0 0 15px;
	}
	.box-test {
    	margin-top: 30px;
	}
	.item p.cname, .item p.cadd{
		text-align: center
	}
	section.btm-sec {
		text-align: center;
	}
	footer {
		text-align: center;
	}
	footer img {
		margin: 0 auto 20px;
	}
	footer .row .col-xs-12{
		margin: 15px auto;
	}
	footer ul.rgt{
		float: right;
	}
	footer ul li{
		text-align: left;
	}
	footer .list-inline {
		text-align: center;
	}
	footer .fbottom .col-xs-12{
		margin: 5px auto;
	}

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 991px) {
	section h2 {
		font-size: 45px;
	}
	section.services img {
		margin: 8% auto 0;
	}
	.counter-box {
		margin: 15px 0;
	}	
	section .flow{
		margin: 25px 0;
	}
	#quote-carousel .carousel-control{
		margin-top: 280px;
	}
	section.btm-sec h3 {
    	font-size: 21px;
	}
	.map-responsive {
   		margin-top: 50px;
	}
}

@media (min-width: 1200px) {
	.container{
		width: 1240px;
	}

}
